/* Pocket Restyled - main
 *
 * Default styling for reading pages on Pocket.
 *
 * Applicable patterns:
 * *getpocket.com/*read*
 * 
 * Contents:
 * Global
 * Queue
 * Reading
 * Overlay
 */

/*=Global
--------------------------------------------------------------------------------------- */
#PKT_header + #page.show_footer,
#page.show_footer .nav,
#page.show_footer footer {
  display: block !important;
}

/*=Queue
--------------------------------------------------------------------------------------- */
.queue_list .active {
  -webkit-box-shadow: 0 0 3px #181300;
  -moz-box-shadow: 0 0 3px #181300;
  box-shadow: 0 0 3px #181300;
}

/*=Reading
--------------------------------------------------------------------------------------- */
#page_reader {
	background: #f8f8f8 !important;
}
#page_reader[skin="night"] {
	background: #131313 !important;
  border-color: #131313 !important;
}
.reader_content {
	color: #232323 !important;
}
#page_reader[skin="night"] .reader_content {
	color: #878787 !important;
}
#page_render[skin="night"] .text_body a {
	color: #BABACC !important;
}
#page_reader[font="serif"] .reader_content {
	font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif !important;
}
#page_reader[font="sans"] .reader_content {
	font-family: 'Proxima Nova','Helvetica Neue',helvetica,arial,sans-serif !important;
}
#page_reader[fontSize="0"] .reader_content .text_body {
  font-size: 13px !important;
}
#page_reader[fontSize="1"] .reader_content .text_body {
  font-size: 16px !important;
}
#page_reader[fontSize="2"] .reader_content .text_body {
  font-size: 19px !important;
}
#page_reader[fontSize="3"] .reader_content .text_body {
  font-size: 22px !important;
}
#page_reader[fontSize="4"] .reader_content .text_body {
  font-size: 25px !important;
}
#page_reader[fontSize="5"] .reader_content .text_body {
  font-size: 28px !important;
}
#page_reader[fontSize="6"] .reader_content .text_body {
  font-size: 31px !important;
}
#page_reader[fontSize="0"] .reader_content {
  width: 450px !important;
}
#page_reader[fontSize="1"] .reader_content {
  width: 520px !important;
}
#page_reader[fontSize="2"] .reader_content {
  width: 600px !important;
}
#page_reader[fontSize="4"] .reader_content,
#page_reader[fontSize="5"] .reader_content {
  width: 750px !important;
}
#page_reader[fontSize="6"] .reader_content {
  width: 820px !important;
}
#page_reader[fontSize="0"] .RIL_IMG,
#page_reader[fontSize="0"] .RIL_IMG img {
  max-width: 450px !important;
}
#page_reader[fontSize="0"] .RIL_IMG.hasCaption,
#page_reader[fontSize="0"] .RIL_IMG.hasCaption img {
  max-width: 448px !important;
}
#page_reader[fontSize="1"] .RIL_IMG,
#page_reader[fontSize="1"] .RIL_IMG img {
  max-width: 520px !important;
}
#page_reader[fontSize="1"] .RIL_IMG.hasCaption,
#page_reader[fontSize="1"] .RIL_IMG.hasCaption img {
  max-width: 518px !important;
}
#page_reader[fontSize="2"] .RIL_IMG,
#page_reader[fontSize="2"] .RIL_IMG img {
  max-width: 600px !important;
}
#page_reader[fontSize="2"] .RIL_IMG.hasCaption,
#page_reader[fontSize="2"] .RIL_IMG.hasCaption img {
  max-width: 598px !important;
}

/*=Overlay
--------------------------------------------------------------------------------------- */
#help_screen {
  -moz-opacity: 0.20;
  background: #000;
  display: none;
  filter:alpha(opacity=20);
  height: 100%;
  left: -1000px;
  opacity: 0.2;
  position: absolute;
  top: 0;
  width: 10000px;
  z-index: 1005;
}
#help_overlay {
  background: #f8f8f8;
  border: 1px solid #dedede;
  display: none;
  font-family: 'helvetica neue',helvetica,arial,sans-serif; 
  height: 500px;
  left: 0;
  margin: 0 auto;
  overflow: hidden;
  padding: 20px !important;
  position: absolute;
  width: 450px;
  top: 70px;
  z-index: 2000;
}
#help_overlay h2 {
  font-size: 24px;
  margin-bottom: 1em !important;
}
#help_overlay h3 {
  display: block;
  margin: 1em 0 0.5em;
  position: relative;
}
#help_overlay ul {
  list-style-type: none;
}
#help_overlay li {
  display: block !important;
  font-size: 14px !important;
  margin: 0.05em 0 !important;
  padding: 0.5em 1em !important;
  text-align: left;
}
#help_overlay li > span {
  display: inline-block !important;
  margin-right: 20px !important;
  width: 20px !important;
  text-align: right !important;
}
